$primary: #FF9900;
$primary-dark: #d58205;
$light: #FAFAFA;
$danger: #DC3545;
$gray: #DDD;
$white: #FFF;

$input-text-color: #495057;
$input-border-color: #CED4DA;
$input-focus-border-color: $input-text-color;

$button-disabled-bg: #ffbe5c;